body{
  text-align: center;
  padding: 100px;
}
.button {
  font-size: 14pt;
  color: white;
  text-decoration: none;  
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
}
.success {
  background-color: #00aa00;
  border: #008800 solid 2px;
}
.success:hover{
  background-color: #00bb00;
  border: #008800 solid 2px;  
}
.success:active{
  background-color: #009900;
  border: #008800 solid 2px;  
}
.warning {
  border: #dc8800 solid 2px;
  background-color: #eeaa00;
}
.warning:hover {
  border: #dc8800 solid 2px;
  background-color: #ffbb00;
}
.warning:active {
  border: #dc8800 solid 2px;
  background-color: #dd9900;
}
.danger {
  border: #880000 solid 2px;
  background-color: #aa0000;
}
.danger:hover {
  border: #880000 solid 2px;
  background-color: #bb0000;
}
.danger:active {
  border: #880000 solid 2px;
  background-color: #990000;
}

