.button1 {
  background-color: green;
  font-size: 14pt;
  color: white;
  text-decoration: none;  
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
  border: green;
}
.button2 {
  border: orange;  
  background-color: orange;
  font-size: 14pt;
  color: white;
  text-decoration: none;  
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
}
.button3 {
  border: red;
  background-color: red;
  font-size: 14pt;
  color: white;
  text-decoration: none;  
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
}
